@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('path/to/custom-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 16px;
    color: #333;
}
    select:hover {
        border-color: #aaa;
    }

    select:focus {
        border-color: #75b061;
        outline: none;
    }


* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    transition: all 0.3s;
}

p {
    margin: 0;
}

html,
body {
    margin: 0;
    max-width: 100vw;
    height: 100%;
    color: #333;
}

#__next {
    height: 100%;
}

.main_layout_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    min-height: 100%;
}

.main_layout_header_box {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9998;
    background: #FFF;
    transition: all 0.3s;
    background: white;
}

.main_layout_header_box_shadow {
    box-shadow: 0px 3px 10px 0px rgba(34, 60, 80, 0.1);
}

.main_layout_children_box {
    width: 100%;
    max-width: 1460px;
    margin: 0 auto;
    flex: 1 1 auto;
    padding: 0px 20px;
}

.main_layout_footer_box {
    width: 100%;
    background: white;
}

.inner_container {
    display: flex;
    flex-direction: column;
    max-width: 1460px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 50px;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .nav ul li {
        display: inline;
        margin-right: 20px;
    }

        .nav ul li a {
            text-decoration: none;
            color: #333;
        }

.search {
    display: flex;
}

    .search input[type="text"] {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px 0 0 5px;
        outline: none;
    }

    .search button {
        padding: 10px 20px;
        background-color: #75b061;
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        outline: none;
    }

        .search button:hover {
            background-color: #71a75f;
        }

.image {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.image_main_logo {
    height: 70px;
}

.footer {
    background-color: white;
    color: #333;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.footer__content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo img {
    height: 40px;
}

.footer__links ul,
.footer__social ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

    .footer__links ul li,
    .footer__social ul li {
        display: inline;
        margin-right: 10px;
    }

        .footer__links ul li a,
        .footer__social ul li a {
            color: #333;
            text-decoration: none;
        }

            .footer__social ul li a i {
                font-size: 20px;
            }

.footer__copyright {
    text-align: center;
    margin-top: 20px;
}

.main_page_container {
    margin: 15px 0;
}

.main_page_grid_container {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    margin-bottom: 30px !important;
    gap: 10px !important;
    max-height: 425px;
}

.header_poster {
    padding: 30px 0 20px 10px !important;
    min-height: 150px !important;
    grid-area: 1/2/3/5 !important;
    border-radius: 20px;
    padding: 45px 60px;
    position: relative;
    max-height: inherit;
}

.header_poster_text {
    font-size: 36px;
    font-weight: 700;
    width: calc(100% - 135px);
    color: #FFF;
    position: absolute;
    top: 55px;
    left: 65px;
}

.categories-container {
    grid-area: 1/1/3/1;
    padding: 30px 10px 20px 0;
}

.main_cat_cont {
    display: flex;
    flex-direction: column;
    background: #75b061;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0;
    max-height: inherit;
    height: 100%;
    cursor: pointer;
}

.category {
    position: relative;
    padding: 20px 30px;
}

.category-name {
    text-transform: uppercase;
    color: white;
}

.subcategories {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
    position: absolute;
    background: #ffffff;
    box-shadow: 4px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-left: 340px;
    width: min-content;
    padding: 15px 35px;
    z-index: 9990;
    top: 0;
}

    .subcategories:before {
        position: absolute;
        width: 24px;
        height: 24px;
        left: -10px;
        display: block;
        position: absolute;
        background: #fff;
        transform: rotate(45deg);
        top: 20px;
        right: 50%;
        content: "";
    }


.subcategory-name {
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 800;
    white-space: nowrap;
    margin-bottom: 10px;
}
.subcategory-name:hover {
    color: #75b061;
}
.green-hover {
    color: #6e6e6e;
}
.green-hover:hover {
    color: #75b061;
}


.sub-subcategories {
    color: #6e6e6e;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    white-space: nowrap;
}

.sub-subcategory {
    font-size: 16px;
    display: flex;
    white-space: nowrap;
}

    .sub-subcategory:hover {
        color: #75b061;
    }

.container-info {
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    border: 2px solid #75b061;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: url('./backgroundimage.png');
    background-size: cover;
    background-position: center;
    color: #fff;
}

.text-info {
    width: 68%;
    float: left;
    padding-right: 20px;
    color: #333;
    margin-bottom: 70px;
}

.image-info {
    width: 30%;
    float: right;
    position: relative;
    z-index: 1;
}

    .image-info img {
        width: 100%;
        display: block;
        border-radius: 10px;
    }

.container-info .text-info > * {
    margin-bottom: 20px;
}

.container-info .text-info h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.container-info .text-info p {
    font-size: 16px;
    line-height: 1.6;
}

.container-info:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
}

.button-usual {
    padding: 10px 20px;
    background-color: #75b061;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

    .button-usual:hover {
        background-color: #71a75f;
    }

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.product-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-image {
    flex: 0 0 30%;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-title {
    width: 100%;
    text-align: left;
    color: #75b061;
    font-weight: 800;
    font-size: 22px;
    margin-bottom: 10px;
}

.product-card-description {
    width: 100%;
    text-align: justify;
    color: #6E6E6E;
    font-size: 16px;
}

.product-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-card-price {
    text-align: center;
    color: #75b061;
    font-weight: 800;
    font-size: 24px;
    margin: 10px 0;
}

.product-card-availability {
    text-align: right;
    color: #6E6E6E;
    font-size: 16px;
}

.add-to-cart-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.quantity-input {
    margin-right: 10px;
    width: 100px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

    .quantity-input:focus {
        outline: none;
        border-color: #75b061;
    }
.product-card-availability {
    margin-top: 10px;
}
.add-to-cart-button {
    background-color: #75b061;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 800px) {
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .product-container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pagination a,
    .pagination span {
        padding: 8px 16px;
        margin: 0 4px;
        border: 1px solid #75b061;
        border-radius: 4px;
        color: #75b061;
        text-decoration: none;
        cursor: pointer;
    }

        .pagination a:hover {
            background-color: #75b061;
            color: #fff;
        }

    .pagination .disabled {
        pointer-events: none;
        color: #ccc;
        border-color: #ccc;
    }

    .pagination .current {
        background-color: #75b061;
        color: #fff;
    }

    .pagination .page-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }